@font-face{
	font-family: "Helvetica";
	src:url("../fonts/Helvetica.ttf");
}

@font-face{
	font-family: "Helvetica-Bold";
	src:url("../fonts/Helvetica-Bold.ttf");
}
@font-face{
	font-family: "Helvetica-light";
	src:url("../fonts/helvetica-light.ttf");
}
